
.browseNavBar {
    position: relative;
    height: 30vh;
    margin-top: 15px;
    overflow-y: visible;
}

.navbar-light {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.nav-link {
    color: black;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.card {
      flex: 0 0 auto;
}

#wasteAway{
    position: relative;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
}

h5{
    position: relative;
    text-align: center;
}

#searchBar{
    position: relative;
}
#searchButton{
    position: relative;
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#item{
    width: 95%;
}

#submitButton{
    text-align: center;
}

.cardindex {
    width: 100%;
    height: 100%;
}

.navbar-light { 
    background-color: #48b48b;
}

.nav-link span{
    padding: 7px 10px;
    transition: 0.2s;
    color: #1d1c02;
    border-radius: 20px 20px;
    font-weight: 600;
}

.nav-link span:hover {
    color: #2a7759;
    background-color: #fffcad;

}

.active span{
    background-color: #50e194;
}

.noDisplay {
    display:none;
}

.cardimg {
    display: block;
    width: 8em;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
}

#userInput{
    height: 29px;
    width: 60%;
}

.searchButton{
    margin-left:59%;   
    margin-top: -30px;
    height:30px;
    background-color:rgb(68, 136, 68);

}

#searchFunction{
    margin-top: 20px;
    text-align: center;
}

#title{
    margin-top: 40px;
    margin-left: 120px;
}

#logo{
    margin-top: -70px;
    margin-left: 10px;
    height: 100px;
    width: 100px;
}

@media only screen and (max-width: 400px) {
    #displayImg {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (min-width:401px){
    #displayImg {
        width: 400px;
        height: 400px;
    }
}

