body {
    background-color: white;
}

.browseNavBar {
    position: relative;
    height: 40vh;
    margin-top: 15px;
    overflow-y:visible;
}

#browse {
    padding-top: 50px;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.card {
      flex: 0 0 auto;
}


#wasteAway{
    position: relative;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
}

#searchBar{
    position: relative;
}
#searchButton{
    position: relative;
}



#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

#item{
    width: 95%;
}

#search{

    width: 95%;
}
#locations{
    width: 95%;
}
#addInfo{

    width: 95%;
}

#submitButton{
  text-align: center;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
}

.cardindex {
    width: 100%;
    height: 100%;
}

.navbar-light { 
    background-color: #48b48b;
}

.nav-link span{
    padding: 7px 10px;
    transition: 0.2s;
    color: #1d1c02;
    border-radius: 20px 20px;
    font-weight: 600;
}

.nav-link span:hover {
    color: #2a7759;
    background-color: #fffcad;

}

.active span{
    background-color: #50e194;
}

.noDisplay {
    display:none;
}
#userInput{
    height: 29px;
    width: 60%;

}

.searchButton{
    margin-left:59%;   
    margin-top: -30px;
    height:30px;
    background-color:rgb(68, 136, 68);

}
#searchFunction{
    margin-top: 20px;
    text-align: center;


}


#title{
    margin-top: 40px;
    margin-left: 120px;

}

#logo{
    margin-top: -70px;
    margin-left: 10px;
    height: 100px;
    width: 100px;

}

#header{
    margin-top: 70px;
}